@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: oklch(var(--b1)); 
}

::-webkit-scrollbar-thumb {
  background: oklch(var(--p)); /* Primary color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--pf)); /* Primary focus/darker */
}

/* Selection Color */
::selection {
  background-color: oklch(var(--p));
  color: oklch(var(--pc));
}
